<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi, I'm Angel</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/curriculum-style.css" type="text/css">
  </head>
  <body>

    <!-- SECTION NAVBAR -->
    <section id="navbar-section">
      <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <span><img src="../assets/img/Trifuerza.png" alt="Triforce" height="100%"></span>
              <strong>Angel Marin</strong>
            </a>
          </div>

          <div>
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">About</a></li>
              <li><a href="#">Experience</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- END SECTION NAVBAR -->

    <!-- COVER -->
    <section id="cover-section">
      <div class="jumbotron">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Hello, I am</h2>
        <h1><strong>Angel Marin</strong></h1>
        <p>I'm a <strong>System Administrator</strong></p>
        <a href="https://www.facebook.com/angel.yagami.16" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="mailto:marin.miguelangel96@gmail.com">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <a href="#">
          <i class="fa fa-skype" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-github-alt" aria-hidden="true"></i>
        </a>
      </div>
    </section>
    <!-- END COVER -->


  </body>
</html>
