<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi, I'm Angel</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cv-style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
  </head>
  <body>
    <!-- NAVBAR -->
    <section id="navbar">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <span><img src="../assets/img/Trifuerza.png" alt="Triforce" height="100%"></span>
              <strong>Angel Marin</strong>
            </a>
          </div>

          <div class="">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Experiencia</a></li>
              <li><a href="#">Edicación</a></li>
              <li><a href="#">Proyectos</a></li>
              <li><a href="#">Precios</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- END NAVBAR -->

    <!-- PORTAFOLIO -->
    <section id="home-section">
      <div class="container-fluid">
        <div class="jumbotron">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>Hi, I am</p>
          <h1><strong>Angel Marin</strong></h1>
          <h2>
            <p id="puesto">
              I am a <strong>SysAdmin</strong>
            </p>
          </h2>
          <a href="https://www.facebook.com/angel.yagami.16" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="mailto:marin.miguelangel96@gmail.com" target="_blank">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </a>
          <a href="skype:xxyagami2xx?call">
            <i class="fa fa-skype" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="ailto:marin.miguelangel96@gmail.com" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/AngelMarinWolf">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- END PORTAFOLIO -->



  </body>
</html>
