<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi, I'm Angel</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/cv-style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
  </head>
  <body>
    <!-- NAVBAR -->
    <section id="navbar">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <span><img src="../assets/img/Trifuerza.png" alt="Triforce" height="100%"></span>
              <strong>Angel Marin</strong>
            </a>
          </div>

          <div class="">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Experiencia</a></li>
              <li><a href="#">Edicación</a></li>
              <li><a href="#">Proyectos</a></li>
              <li><a href="#">Precios</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-- END NAVBAR -->

    <!-- PORTAFOLIO -->
    <section id="home-section">
      <div class="container-fluid">
        <div class="jumbotron">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>Hi, I am</p>
          <h1><strong>ANGEL MARIN</strong></h1>
          <h2>
            <p id="puesto">
              I am a <strong>SysAdmin</strong>
            </p>
          </h2>
          <a href="https://www.facebook.com/angel.yagami.16" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="mailto:marin.miguelangel96@gmail.com" target="_blank">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </a>
          <a href="skype:xxyagami2xx?call">
            <i class="fa fa-skype" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/miguel-angel-marin-encina-aa9a8a130/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCFK1jlKyZ_583dAnzfEHE-g" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/AngelMarinWolf" target="_blank">
            <i class="fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- END PORTAFOLIO -->

    <!-- ACERCA DE -->
    <section id="acerca-de-section">
      <div class="jumbotron">
        <h3>Acerca de mi</h3>
        <h2><strong>Te contare acerca de mi.</strong></h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="media">
              <div class="media-left">
                <img class="media-object media-middle img-circle" src="../assets/img/link-picture-profile.jpg" alt="Picture Profile">
              </div>
              <div class="media-body">
                <div class="container">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h4><strong>PERFIL</strong></h4>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat.
                </p>
                <ul class="">
                  <li>
                    <label>Nombre Completo</label>
                    <span>Miguel Angel Marin Encina</span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END ACERCA DE -->



  </body>
</html>
